@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Computer Wars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="stats">
    <p><span class="item">Player:</span><span class="value"> @Model.Name</span></p>
    <p><span class="item">Current Day:</span><span class="value"> @Model.CurrentDay</span></p>
    <p><span class="item">Current Balance:</span><span class="value"> $@Model.Money</span></p>
</div>

<div class="options">
    <p>@Html.ActionLink("View Inventory", "Inventory", "Game")</p>
    <p>@Html.ActionLink("View Current Prices", "Prices", "Game")</p>
    <p>@Html.ActionLink("Buy Parts", "Buy", "Game")</p>
    <p>@Html.ActionLink("Sell Parts", "Sell", "Game")</p>
    <p>@Html.ActionLink("Casino", "Casino", "Game")</p>
    <p>@Html.ActionLink("Airport", "Airport", "Game")</p>
</div>

<div class="endGame">
    <p>@Html.ActionLink("END GAME", "GameOver", "Game")</p>
</div>