@using ComputerWars.Models
@model ComputerWars.Models.BuySellViewModel

@{
    ViewBag.Title = "Sell Parts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Player.HasParts())
{
    <div class="inventory">
        <h2>@Model.Player.Name's Inventory</h2>
        <p><span class="item">Processors:</span> @Model.Player.Inventory["Processors"]</p>
        <p><span class="item">Graphics Cards:</span> @Model.Player.Inventory["Graphics Cards"]</p>
        <p><span class="item">Hard Drives:</span> @Model.Player.Inventory["Hard Drives"]</p>
        <p><span class="item">RAM Sticks:</span> @Model.Player.Inventory["RAM Sticks"]</p>
        <p><span class="item">Flash Drives:</span> @Model.Player.Inventory["Flash Drives"]</p>
    </div>

    <div class="prices">
        <h2>Today's Prices</h2>
        <p><span class="item">Processors:</span> @Model.Player.Prices["Processors"].ToString("C0")</p>
        <p><span class="item">Graphics Cards:</span> @Model.Player.Prices["Graphics Cards"].ToString("C0")</p>
        <p><span class="item">Hard Drives:</span> @Model.Player.Prices["Hard Drives"].ToString("C0")</p>
        <p><span class="item">RAM Sticks:</span> @Model.Player.Prices["RAM Sticks"].ToString("C0")</p>
        <p><span class="item">Flash Drives:</span> @Model.Player.Prices["Flash Drives"].ToString("C0")</p>
    </div>

    <div class="buySellForm">
        @using (Html.BeginForm("Sell", "Game", FormMethod.Post, new { autocomplete = "off" }))
        {
            <p class="item">@Html.Label("Select a part to sell")</p>
            <p>@Html.DropDownListFor(m => m.PartName, BuySellViewModel.Items)</p>
            <p>@Html.ValidationMessageFor(m => m.PartName)</p>

            <p class="item">@Html.Label("Enter a quantity to sell")</p>
            <p>@Html.EditorFor(m => m.Quantity, new { htmlAttributes = new { @type = "number", @min = "0", @step = "1", @value = "0" } })</p>
            <p>@Html.ValidationMessageFor(m => m.Quantity)</p>

            <p>@Html.ValidationMessage("notEnoughParts")</p>

            <button>Sell</button>
        }
    </div>
}
else
{
    <div class="buySellForm">
        <p style="color: red">You do not own any parts.</p>
    </div>
}

<div class="return">
    @using (Html.BeginForm("Menu", "Game", FormMethod.Get))
    {
        <button>Return To Menu</button>
    }
</div>
