@model ComputerWars.Models.Player

@{
    ViewBag.Title = "Part Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="prices">
    <h2>Today's Prices</h2>
    <p><span style="text-decoration: underline">Processors:</span> @Model.Prices["Processors"].ToString("C0")</p>
    <p><span style="text-decoration: underline">Graphics Cards:</span> @Model.Prices["Graphics Cards"].ToString("C0")</p>
    <p><span style="text-decoration: underline">Hard Drives:</span> @Model.Prices["Hard Drives"].ToString("C0")</p>
    <p><span style="text-decoration: underline">RAM Sticks:</span> @Model.Prices["RAM Sticks"].ToString("C0")</p>
    <p><span style="text-decoration: underline">Flash Drives:</span> @Model.Prices["Flash Drives"].ToString("C0")</p>
</div>

<div class="return">
    <p>@Html.ActionLink("Return To Main Menu", "Menu", "Home")</p>
</div>